In [1]:
import pandas as pd
import numpy as np
import pymongo

In [2]:
df=pd.read_csv("gun-violence-data_01-2013_03-2018.csv.zip")

In [3]:
df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [4]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
# Declare the database
db = client.guns_db
# Declare the collection
guns = db.guns

In [5]:
client.list_database_names()

['admin',
 'classDB',
 'config',
 'craigslist_db',
 'dumpster_db',
 'guns_db',
 'guns_db2',
 'local',
 'mars_db',
 'store_inventory',
 'team_db',
 'travel_db']

In [6]:
df.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'incident_url', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude',
       'location_description', 'longitude', 'n_guns_involved', 'notes',
       'participant_age', 'participant_age_group', 'participant_gender',
       'participant_name', 'participant_relationship', 'participant_status',
       'participant_type', 'sources', 'state_house_district',
       'state_senate_district'],
      dtype='object')

In [7]:
dropped_columns=df.drop(columns=['city_or_county','address','incident_url','source_url','incident_url_fields_missing','congressional_district','gun_stolen','gun_type','incident_characteristics','location_description','n_guns_involved','notes','participant_age','participant_age_group','participant_name','participant_relationship','participant_status','participant_type','sources','state_house_district','state_senate_district','participant_gender'])

In [8]:
dropped_columns

,incident_id,date,state,n_killed,n_injured,latitude,longitude
0,461105,2013-01-01,Pennsylvania,0,4,40.3467,-79.8559
1,460726,2013-01-01,California,1,3,33.9090,-118.3330
2,478855,2013-01-01,Ohio,1,3,41.4455,-82.1377
3,478925,2013-01-05,Colorado,4,0,39.6518,-104.8020
4,478959,2013-01-07,North Carolina,2,2,36.1140,-79.9569
...,...,...,...,...,...,...,...
239672,1083142,2018-03-31,Louisiana,0,0,NaN,NaN
239673,1083139,2018-03-31,Louisiana,1,0,31.7537,-93.0836
239674,1083151,2018-03-31,Louisiana,0,1,29.9239,-90.0442
239675,1082514,2018-03-31,Texas,1,0,29.7201,-95.6110
239676,1081940,2018-03-31,Maine,2,0,44.7293,-69.7691

In [9]:
clean = dropped_columns.loc[(dropped_columns['state'] == "Pennsylvania") | (dropped_columns['state'] == "Tennessee") | (dropped_columns['state'] == "California")]

In [10]:
clean

,incident_id,date,state,n_killed,n_injured,latitude,longitude
0,461105,2013-01-01,Pennsylvania,0,4,40.3467,-79.8559
1,460726,2013-01-01,California,1,3,33.9090,-118.3330
8,479389,2013-01-21,California,0,4,37.9656,-121.7180
10,491674,2013-01-23,Tennessee,1,3,35.0221,-85.2697
15,479573,2013-02-02,Tennessee,0,5,35.0803,-89.8871
...,...,...,...,...,...,...,...
239655,1082089,2018-03-31,California,0,0,32.8936,-117.1360
239657,1082394,2018-03-31,California,0,0,35.5019,-119.2830
239658,1082392,2018-03-31,California,1,0,NaN,NaN
239660,1082091,2018-03-31,California,2,0,37.9478,-121.3140
239667,1082234,2018-03-31,Tennessee,0,1,35.2045,-89.9872

In [11]:
guns_df=clean.dropna()

In [12]:
gun=guns_df['date'] >= '2015-01-01'

In [13]:
guns_df= guns_df[gun]

In [14]:
guns_df['date']=pd.to_datetime(guns_df['date'])
guns_df['date']

52144    2015-01-01
52158    2015-01-01
52164    2015-01-01
52165    2015-01-01
52171    2015-01-01
            ...
239650   2018-03-31
239655   2018-03-31
239657   2018-03-31
239660   2018-03-31
239667   2018-03-31
Name: date, Length: 24306, dtype: datetime64[ns]

In [15]:
guns_df['year']= guns_df['date'].dt.year
guns_df

,incident_id,date,state,n_killed,n_injured,latitude,longitude,year
52144,272502,2015-01-01,Tennessee,0,1,35.0064,-85.3179,2015
52158,271979,2015-01-01,California,1,2,34.0322,-117.3260,2015
52164,273937,2015-01-01,Pennsylvania,1,0,39.8449,-75.3816,2015
52165,272960,2015-01-01,Pennsylvania,1,0,39.8406,-75.3976,2015
52171,272551,2015-01-01,California,1,0,37.3006,-120.4980,2015
...,...,...,...,...,...,...,...,...
239650,1082266,2018-03-31,California,1,0,34.5713,-118.0450,2018
239655,1082089,2018-03-31,California,0,0,32.8936,-117.1360,2018
239657,1082394,2018-03-31,California,0,0,35.5019,-119.2830,2018
239660,1082091,2018-03-31,California,2,0,37.9478,-121.3140,2018
239667,1082234,2018-03-31,Tennessee,0,1,35.2045,-89.9872,2018

In [16]:
guns_df['combined'] = list(zip(guns_df.latitude, guns_df.longitude))
guns_df.head()

,incident_id,date,state,n_killed,n_injured,latitude,longitude,year,combined
52144,272502,2015-01-01,Tennessee,0,1,35.0064,-85.3179,2015,"(35.0064, -85.3179)"
52158,271979,2015-01-01,California,1,2,34.0322,-117.3260,2015,"(34.0322, -117.32600000000001)"
52164,273937,2015-01-01,Pennsylvania,1,0,39.8449,-75.3816,2015,"(39.8449, -75.3816)"
52165,272960,2015-01-01,Pennsylvania,1,0,39.8406,-75.3976,2015,"(39.8406, -75.3976)"
52171,272551,2015-01-01,California,1,0,37.3006,-120.4980,2015,"(37.3006, -120.49799999999999)"

In [17]:
guns_df.dtypes

incident_id             int64
date           datetime64[ns]
state                  object
n_killed                int64
n_injured               int64
latitude              float64
longitude             float64
year                    int64
combined               object
dtype: object

In [18]:
guns_df['year'] = guns_df['year'].astype(str)
print(guns_df['year'])

52144     2015
52158     2015
52164     2015
52165     2015
52171     2015
          ...
239650    2018
239655    2018
239657    2018
239660    2018
239667    2018
Name: year, Length: 24306, dtype: object

In [19]:
guns_df.to_dict('records')

[{'incident_id': 272502,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 35.0064,
  'longitude': -85.3179,
  'year': '2015',
  'combined': (35.0064, -85.3179)},
 {'incident_id': 271979,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 2,
  'latitude': 34.0322,
  'longitude': -117.32600000000001,
  'year': '2015',
  'combined': (34.0322, -117.32600000000001)},
 {'incident_id': 273937,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 39.8449,
  'longitude': -75.3816,
  'year': '2015',
  'combined': (39.8449, -75.3816)},
 {'incident_id': 272960,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 39.8406,
  'longitude': -75.3976,
  'year': '2015',
  'combined': (39.8406, -75.3976)},
 {'incident_id': 272551,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 37.3006,
  'longitude': -120.49799999999999,
  'year': '2015',
  'combined': (37.3006, -120.49799999999999)},
 {'incident_id': 272555,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 36.6121,
  'longitude': -121.836,
  'year': '2015',
  'combined': (36.6121, -121.836)},
 {'incident_id': 273336,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 39.9195,
  'longitude': -75.2309,
  'year': '2015',
  'combined': (39.9195, -75.2309)},
 {'incident_id': 272016,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 5,
  'latitude': 35.1489,
  'longitude': -90.0461,
  'year': '2015',
  'combined': (35.1489, -90.0461)},
 {'incident_id': 271970,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 33.9327,
  'longitude': -118.102,
  'year': '2015',
  'combined': (33.9327, -118.102)},
 {'incident_id': 271975,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 2,
  'latitude': 37.3339,
  'longitude': -121.855,
  'year': '2015',
  'combined': (37.3339, -121.855)},
 {'incident_id': 275619,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 1,
  'latitude': 33.7429,
  'longitude': -116.274,
  'year': '2015',
  'combined': (33.7429, -116.274)},
 {'incident_id': 272495,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 1,
  'n_injured': 1,
  'latitude': 36.1686,
  'longitude': -87.0452,
  'year': '2015',
  'combined': (36.1686, -87.0452)},
 {'incident_id': 271981,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 38.66,
  'longitude': -121.331,
  'year': '2015',
  'combined': (38.66, -121.331)},
 {'incident_id': 276639,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 1,
  'latitude': 37.2991,
  'longitude': -121.823,
  'year': '2015',
  'combined': (37.2991, -121.823)},
 {'incident_id': 283479,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 35.0456,
  'longitude': -85.3083,
  'year': '2015',
  'combined': (35.0456, -85.3083)},
 {'incident_id': 273083,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 35.0228,
  'longitude': -89.8631,
  'year': '2015',
  'combined': (35.0228, -89.8631)},
 {'incident_id': 272030,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 36.6133,
  'longitude': -87.4187,
  'year': '2015',
  'combined': (36.6133, -87.4187)},
 {'incident_id': 272041,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 35.0135,
  'longitude': -85.2266,
  'year': '2015',
  'combined': (35.0135, -85.2266)},
 {'incident_id': 271986,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 37.9624,
  'longitude': -121.288,
  'year': '2015',
  'combined': (37.9624, -121.288)},
 {'incident_id': 272526,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 36.7307,
  'longitude': -119.76899999999999,
  'year': '2015',
  'combined': (36.7307, -119.76899999999999)},
 {'incident_id': 283487,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 35.2823,
  'longitude': -119.005,
  'year': '2015',
  'combined': (35.2823, -119.005)},
 {'incident_id': 272165,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 37.7881,
  'longitude': -122.395,
  'year': '2015',
  'combined': (37.7881, -122.395)},
 {'incident_id': 272531,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 4,
  'n_injured': 0,
  'latitude': 37.6774,
  'longitude': -120.961,
  'year': '2015',
  'combined': (37.6774, -120.961)},
 {'incident_id': 274489,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 33.9527,
  'longitude': -116.473,
  'year': '2015',
  'combined': (33.9527, -116.473)},
 {'incident_id': 272043,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 35.0027,
  'longitude': -85.3109,
  'year': '2015',
  'combined': (35.0027, -85.3109)},
 {'incident_id': 272045,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 35.0124,
  'longitude': -85.2261,
  'year': '2015',
  'combined': (35.0124, -85.2261)},
 {'incident_id': 273497,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 37.3103,
  'longitude': -120.48100000000001,
  'year': '2015',
  'combined': (37.3103, -120.48100000000001)},
 {'incident_id': 273910,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 35.0276,
  'longitude': -85.2548,
  'year': '2015',
  'combined': (35.0276, -85.2548)},
 {'incident_id': 272556,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 34.0558,
  'longitude': -117.72200000000001,
  'year': '2015',
  'combined': (34.0558, -117.72200000000001)},
 {'incident_id': 272958,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 40.0391,
  'longitude': -75.1253,
  'year': '2015',
  'combined': (40.0391, -75.1253)},
 {'incident_id': 272956,
  'date': Timestamp('2015-01-01 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 40.234,
  'longitude': -76.8386,
  'year': '2015',
  'combined': (40.234, -76.8386)},
 {'incident_id': 273324,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 40.454,
  'longitude': -80.0263,
  'year': '2015',
  'combined': (40.454, -80.0263)},
 {'incident_id': 272511,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 37.7937,
  'longitude': -122.236,
  'year': '2015',
  'combined': (37.7937, -122.236)},
 {'incident_id': 273249,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 36.7501,
  'longitude': -119.84899999999999,
  'year': '2015',
  'combined': (36.7501, -119.84899999999999)},
 {'incident_id': 283457,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 40.2132,
  'longitude': -76.6156,
  'year': '2015',
  'combined': (40.2132, -76.6156)},
 {'incident_id': 273294,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 2,
  'latitude': 39.2025,
  'longitude': -121.145,
  'year': '2015',
  'combined': (39.2025, -121.145)},
 {'incident_id': 276481,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 40.2558,
  'longitude': -76.8416,
  'year': '2015',
  'combined': (40.2558, -76.8416)},
 {'incident_id': 273070,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 36.1518,
  'longitude': -86.6492,
  'year': '2015',
  'combined': (36.1518, -86.6492)},
 {'incident_id': 272498,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 35.9966,
  'longitude': -83.8808,
  'year': '2015',
  'combined': (35.9966, -83.8808)},
 {'incident_id': 273686,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 40.5195,
  'longitude': -80.0399,
  'year': '2015',
  'combined': (40.5195, -80.0399)},
 {'incident_id': 276249,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 37.7296,
  'longitude': -122.2,
  'year': '2015',
  'combined': (37.7296, -122.2)},
 {'incident_id': 273270,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 36.6041,
  'longitude': -121.833,
  'year': '2015',
  'combined': (36.6041, -121.833)},
 {'incident_id': 273331,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 40.639,
  'longitude': -79.8461,
  'year': '2015',
  'combined': (40.639, -79.8461)},
 {'incident_id': 273329,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 40.065,
  'longitude': -75.1458,
  'year': '2015',
  'combined': (40.065, -75.1458)},
 {'incident_id': 273313,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 33.9261,
  'longitude': -116.916,
  'year': '2015',
  'combined': (33.9261, -116.916)},
 {'incident_id': 273335,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 40.0257,
  'longitude': -75.1659,
  'year': '2015',
  'combined': (40.0257, -75.1659)},
 {'incident_id': 272513,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 37.7604,
  'longitude': -122.19,
  'year': '2015',
  'combined': (37.7604, -122.19)},
 {'incident_id': 272908,
  'date': Timestamp('2015-01-02 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 33.876,
  'longitude': -118.22399999999999,
  'year': '2015',
  'combined': (33.876, -118.22399999999999)},
 {'incident_id': 273735,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 3,
  'n_injured': 0,
  'latitude': 40.3187,
  'longitude': -77.1393,
  'year': '2015',
  'combined': (40.3187, -77.1393)},
 {'incident_id': 273495,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 36.7504,
  'longitude': -119.79700000000001,
  'year': '2015',
  'combined': (36.7504, -119.79700000000001)},
 {'incident_id': 273493,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 37.0428,
  'longitude': -122.027,
  'year': '2015',
  'combined': (37.0428, -122.027)},
 {'incident_id': 273086,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 35.9725,
  'longitude': -83.8927,
  'year': '2015',
  'combined': (35.9725, -83.8927)},
 {'incident_id': 273246,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 35.3399,
  'longitude': -119.02600000000001,
  'year': '2015',
  'combined': (35.3399, -119.02600000000001)},
 {'incident_id': 273257,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 3,
  'latitude': 33.8488,
  'longitude': -118.198,
  'year': '2015',
  'combined': (33.8488, -118.198)},
 {'incident_id': 273658,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 2,
  'latitude': 39.9729,
  'longitude': -75.2151,
  'year': '2015',
  'combined': (39.9729, -75.2151)},
 {'incident_id': 274177,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 39.9987,
  'longitude': -75.1782,
  'year': '2015',
  'combined': (39.9987, -75.1782)},
 {'incident_id': 273721,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 39.9544,
  'longitude': -75.2301,
  'year': '2015',
  'combined': (39.9544, -75.2301)},
 {'incident_id': 273637,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 41.2404,
  'longitude': -75.9446,
  'year': '2015',
  'combined': (41.2404, -75.9446)},
 {'incident_id': 273383,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 38.1409,
  'longitude': -122.25200000000001,
  'year': '2015',
  'combined': (38.1409, -122.25200000000001)},
 {'incident_id': 273384,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 41.2589,
  'longitude': -76.1042,
  'year': '2015',
  'combined': (41.2589, -76.1042)},
 {'incident_id': 278471,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 33.7394,
  'longitude': -117.912,
  'year': '2015',
  'combined': (33.7394, -117.912)},
 {'incident_id': 273590,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 34.0812,
  'longitude': -118.29799999999999,
  'year': '2015',
  'combined': (34.0812, -118.29799999999999)},
 {'incident_id': 273589,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 33.9776,
  'longitude': -118.255,
  'year': '2015',
  'combined': (33.9776, -118.255)},
 {'incident_id': 273431,
  'date': Timestamp('2015-01-03 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 34.0522,
  'longitude': -118.244,
  'year': '2015',
  'combined': (34.0522, -118.244)},
 {'incident_id': 273727,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 39.9721,
  'longitude': -75.2337,
  'year': '2015',
  'combined': (39.9721, -75.2337)},
 {'incident_id': 273800,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 3,
  'n_injured': 0,
  'latitude': 33.8232,
  'longitude': -116.51700000000001,
  'year': '2015',
  'combined': (33.8232, -116.51700000000001)},
 {'incident_id': 274935,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 2,
  'latitude': 40.1427,
  'longitude': -79.8664,
  'year': '2015',
  'combined': (40.1427, -79.8664)},
 {'incident_id': 274933,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 40.4219,
  'longitude': -79.8934,
  'year': '2015',
  'combined': (40.4219, -79.8934)},
 {'incident_id': 274924,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 2,
  'latitude': 40.0321,
  'longitude': -76.3162,
  'year': '2015',
  'combined': (40.0321, -76.3162)},
 {'incident_id': 274399,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 36.7865,
  'longitude': -119.844,
  'year': '2015',
  'combined': (36.7865, -119.844)},
 {'incident_id': 274382,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 40.3236,
  'longitude': -123.92299999999999,
  'year': '2015',
  'combined': (40.3236, -123.92299999999999)},
 {'incident_id': 275051,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 37.7872,
  'longitude': -122.41,
  'year': '2015',
  'combined': (37.7872, -122.41)},
 {'incident_id': 274396,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 36.0692,
  'longitude': -119.03299999999999,
  'year': '2015',
  'combined': (36.0692, -119.03299999999999)},
 {'incident_id': 273818,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 38.0336,
  'longitude': -121.294,
  'year': '2015',
  'combined': (38.0336, -121.294)},
 {'incident_id': 791126,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 37.7621,
  'longitude': -122.42200000000001,
  'year': '2015',
  'combined': (37.7621, -122.42200000000001)},
 {'incident_id': 274406,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 33.8545,
  'longitude': -117.315,
  'year': '2015',
  'combined': (33.8545, -117.315)},
 {'incident_id': 273815,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 2,
  'latitude': 38.4084,
  'longitude': -121.391,
  'year': '2015',
  'combined': (38.4084, -121.391)},
 {'incident_id': 273739,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 40.0084,
  'longitude': -75.1438,
  'year': '2015',
  'combined': (40.0084, -75.1438)},
 {'incident_id': 274855,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 34.4921,
  'longitude': -118.62799999999999,
  'year': '2015',
  'combined': (34.4921, -118.62799999999999)},
 {'incident_id': 290075,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 40.1257,
  'longitude': -79.8688,
  'year': '2015',
  'combined': (40.1257, -79.8688)},
 {'incident_id': 276551,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 36.7479,
  'longitude': -119.79899999999999,
  'year': '2015',
  'combined': (36.7479, -119.79899999999999)},
 {'incident_id': 274938,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'Pennsylvania',
  'n_killed': 0,
  'n_injured': 1,
  'latitude': 40.7956,
  'longitude': -75.862,
  'year': '2015',
  'combined': (40.7956, -75.862)},
 {'incident_id': 277008,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 1,
  'n_injured': 0,
  'latitude': 33.9464,
  'longitude': -118.287,
  'year': '2015',
  'combined': (33.9464, -118.287)},
 {'incident_id': 273586,
  'date': Timestamp('2015-01-04 00:00:00'),
  'state': 'California',
  'n_killed': 0,
  'n_injured': 0,
  'latitude': 32.5454,
  'longitude': -117.04,
  'year': '2015',
  'combined': (32.5454, -117.04)},
 {'incident_id': 274592,
  'date': Timestamp('2015-01-05 00:00:00'),
  'state': 'Tennessee',
  'n_killed': 1,
  'n_injured': 2,
  'latitude': 36.3471,
  'longitude': -88.8484,
  'year': '2015',

In [20]:
guns.insert_many(guns_df.to_dict('records'))